*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
}

header {
  text-align: center;
  color: #232375;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Counterlengh {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.seccondiv {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

#Counterlengh {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #808080;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

.btnPublic {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #0000ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover{
  background-color: #2e2e5c80
}
span {
  font-size: 14px;
  color: #808080;
}

span[style*="red"] {
  color: red;
}


div p {
  margin: 10px 0;
}

